<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Categorías</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
<div class="container mt-4">
    <div class="d-flex justify-content-center mt-4 mb-5">
        <a href="/menu" class="btn btn-primary">Menu</a>
    </div>
    <h2>Gestión de Categorías</h2>

    <!-- Mensaje flash para acciones -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}

    <!-- Formulario para agregar categoría -->
    <form action="{{ url_for('add_Categorias') }}" method="POST" class="form-inline my-2">
        <input type="text" name="categoria_nombre" class="form-control mr-2" placeholder="Nombre de Categoría" required>
        <input type="text" name="description" class="form-control mr-2" placeholder="Descripción">
        <button type="submit" class="btn btn-primary">Agregar Categoría</button>
    </form>

    <!-- Tabla de Categorías -->
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria[0] }}</td>
                <td>{{ categoria[1] }}</td>
                <td>{{ categoria[2] }}</td>
                <td>
                    <a href="{{ url_for('edit_Categoria', id=categoria[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('delete_Categoria', id=categoria[0]) }}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
